<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Create a new campground</h1>
        <div style="width: 30%; margin:25px auto;">
            <form action="/campgrounds" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="name" name="name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" placeholder="Price" name="price" min="0.01" step="0.01">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Image Url" name="image">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Add description" name="description">
                </div>
                <div class="form-group">
                    <button class="btn-primary btn-lg btn-default btn-block">Submit</button>
                </div>
            </form>
            <a href="/campgrounds">Go back</a>
        </div>
<%- include("../partials/footer") %>
    </div>
</div>